<div id="about" class="py-5 bg-light">
  <div class="container py-4">
    <h2 class="text-primary pb-4">Benoo soutient le développement des entreprises africaines par l'accès à l'énergie et la transformation numérique.</h2>
    <p class="lead">Benoo accompagne les entreprises et organisations africaines qui développent et qui opèrent des activités commerciales en zone rurale. Notre démarche s'appuie sur trois piliers.</p>
    <div class="row">
      <div class="col-12 col-lg-4 pb-3">
        <p class="lead">
          <span class="text-warning large-text">1.</span>
          <br>Faciliter l'accès à des solutions de fourniture d’énergie renouvelable décentralisées et des équipements efficients.</p>
      </div>
      <div class="col-12 col-lg-4 pb-3">
        <p class="lead">
          <span class="text-warning large-text">2.</span>
          <br>Intégrer la numérisation des activités et valoriser les données collectées pour péréniser les modèles économiques.</p>
      </div>
      <div class="col-12 col-lg-4 pb-3">
        <p class="lead">
          <span class="text-warning large-text">3.</span>
          <br>Structurer des modèles économiques qui peuvent créer des impacts à grande échelle et sur le long terme.</p>
      </div>
    </div>
  </div>
</div>
