<div id="about" class="py-5 bg-light">
  <div class="container py-4">
    <h2 class="text-primary pb-4">Solutions numériques et énergie renouvelable au service des entreprises rurales</h2>
    <p>Benoo Énergies soutient le développement des entreprises rurales en facilitant leur accès à des solutions de fourniture d’énergie renouvelable décentralisées et des équipements efficients.</p>
    <p>La transformation numérique des entreprises africaines et l’innovation sociale est au cœur de notre proposition</p>
  </div>
</div>
