<div id="achievements" class="py-5">
  <div class="container py-4">
    <h2 class="text-primary font-weight-bold pb-4">Des solutions validées par l'expérience du terrain.</h2>
    <div class="pb-4">
      <p>
        Nous avons testé des solutions offgrid au Togo et au Burkina F. et identifié les enjeux pour les entreprises rurales.
        <br>2 000 villages identifiés, 500 villages analysés et 20 enquêtes terrain réalisées avec nos partenaires locaux.
        <br>Conception et déploiement de 5 boutiques solaires pour la  vente et distribution produits congelés / frais, et de services annexes.
        <br>+100 entrepreneurs accompagnés, 4 entreprises en activité et équipés de l’application mobile Benoo.
        <br>...
        <br>...
        <br>...
      </p>
    </div>
    <h3 class="pb-4">Ils nous font confiance</h3>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="p-2">
        <img src="assets/img/etd.png" alt="ETD" height="70px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/a2n.png" alt="A2N" height="60px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/valorem.png" alt="Valorem" height="80px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/touton.png" alt="Touton" height="60px" class="img-grayscale">
      </div>
    </div>
  </div>
</div>

<div class="banner banner-small d-flex align-items-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/img/tetetou.jpg);">
  <div class="container d-md-flex justify-content-end">
    <div class="banner-quote">
      <p><em>“Avec les solutions RUBIZE by Benoo, nous avons déployé un réseau de boutiques solaires autonomes au Togo.</em></p>
      <p><em>Chaque gérant de boutique réalise en moyenne 1500€/mois de chiffre d’affaire.”</em></p>
      <p class="text-right"><strong>Komi A.</strong><br>DG de l’organisation ETD, <br>partenaire de Benoo au Togo</p>
    </div>
  </div>
</div>
