<div id="achievements" class="py-5">
  <div class="container py-4">
    <h2 class="text-primary pb-4">Des solutions nourries par notre expérience du terrain.</h2>
    <p class="lead pb-3">Depuis 2016 nous avons pris soin d’identifier les enjeux des entreprises rurales au Togo et au Burkina Faso. Nous nous sommes mis à la place de ces entrepreneurs du quotidien.</p>
    <div class="row">
      <div class="col-12 col-lg-3 pb-3">
        <p class="lead">
          <span class="text-warning large-text">100+ entrepreneurs</span>
          <br>accompagnés et formés à la gestion d'activité, dont plus de 50% de femmes.
        </p>
      </div>
      <div class="col-12 col-lg-3 pb-3">
        <p class="lead">
          <span class="text-warning large-text">5 kiosques solaires</span>
          <br>en gestion directe dans la région de Notsé au Togo.</p>
      </div>
      <div class="col-12 col-lg-3 pb-3">
        <p class="lead">
          <span class="text-warning large-text">5 000+ transactions</span>
          <br>de vente de produits frais et congelés enregistrées via notre application.
        </p>
      </div>
      <div class="col-12 col-lg-3 pb-3">
        <p class="lead">
          <span class="text-warning large-text">37t de CO<sub>2</sub> par an</span>
          <br>d'émissions évitées par le remplacement de solutions polluantes pour la fourniture d'énergie.
        </p>
      </div>
    </div>
    <h3 class="pb-4">Ils nous font confiance</h3>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="p-2">
        <img src="assets/img/etd.png" alt="ETD" height="70px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/a2n.png" alt="A2N" height="60px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/valorem.png" alt="Valorem" height="80px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/touton.png" alt="Touton" height="60px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/region-normandie.png" alt="Région Normandie" height="70px" class="img-grayscale">
      </div>
    </div>
  </div>
</div>

<div class="banner banner-body d-flex align-items-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/img/tetetou.jpg);">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-md-7 col-lg-6 col-xl-5">
        <p class="lead">“Avec les solutions <strong><a href="https://www.rubize.io" class="text-white">Rubize.io</a></strong>, nous avons déployé un réseau de boutiques solaires autonomes au Togo.</p>
        <p class="lead">Chaque gérant de boutique bénéficie d'un revenu jusqu'à trois fois supérieur au revenu moyen local.”</p>
        <p class="lead text-right"><strong>Komi A.</strong><br>DG de l’organisation ETD, <br>partenaire de Benoo au Togo</p>
      </div>
    </div>
  </div>
</div>
