<div class="banner banner-head d-flex align-items-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/img/business.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="pr-sm-5">
          <img src="assets/img/benoo_logo_transparent.svg" alt="Benoo Energies" class="w-100 pr-md-5">
        </div>
        <h1 class="py-3 pr-lg-5">Votre partenaire pour le développement soutenable des entreprises rurales.</h1>
        <div class="py-3">
          <a
            class="typeform-share button btn btn-primary py-2 px-3 mb-3 mr-3"
            href="https://contact243679.typeform.com/to/awrEEb"
            data-mode="popup"
            data-submit-close-delay="0"
            target="_blank">
            Nous contacter
          </a>
          <script>
            (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
          </script>
          <a class="btn btn-outline-light py-2 px-3 mb-3 mr-3" href="#about">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>
