<div class="banner banner-big d-flex align-items-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/img/business.jpg);">
  <div class="container py-5 my-5">
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-7">
        <div class="pr-sm-5">
          <img src="assets/img/benoo_logo.svg" alt="Benoo" class="w-100 pr-md-5">
        </div>
        <h1 class="py-3">Votre partenaire pour contribuer au développement soutenable des entreprises rurales africaines.</h1>
        <div class="py-3">
          <a class="btn btn-primary py-2 px-3  mb-2 mr-3" href="#contact">Nous contacter</a>
          <a class="btn btn-outline-light py-2 px-3 mb-2" href="#about">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>
