<footer class="bg-light py-5">
  <div class="container d-sm-flex justify-content-between">
    <div class="footer-links d-flex pb-3">
      <a href="https://www.linkedin.com/company/benoo"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.facebook.com/benooenergies"><i class="fab fa-facebook"></i></a>
      <a href="https://www.youtube.com/channel/UCQ3h_XuQ1u7s2437gcY5BbA"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com/benooenergies/"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/bbcrdiallo"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="text-secondary">
      Benoo, rendons l'énergie vertueuse.
    </div>
  </div>

  <script
    src="https://kit.fontawesome.com/a1b156a237.js"
    crossorigin="anonymous">
  </script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous">
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
  </script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
  </script>
  <script
    type="text/javascript"
    src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"
  >
  </script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
</footer>
