<footer class="bg-light py-5">
  <div class="container d-sm-flex justify-content-between">
    <div class="footer-links d-flex pb-3">
      <a href="https://www.linkedin.com/company/benoo"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.facebook.com/benooenergies"><i class="fab fa-facebook"></i></a>
      <a href="https://www.youtube.com/channel/UCQ3h_XuQ1u7s2437gcY5BbA"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com/benooenergies/"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/bbcrdiallo"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="text-secondary">
      Rendons l'énergie vertueuse.
    </div>
  </div>
</footer>
