<div id="solutions" class="py-5">
  <div class="container pt-4 pb-3">
    <h2 class="text-primary pb-4">Nous avons créé RUBIZE, une suite d’outils numériques pour optimiser le développement de votre entreprise.</h2>
    <div class="row pt-3">
      <div class="col-12 col-lg-4 pb-3">
        <img src="assets/img/plan.png" alt="plan" height="65px">
        <h3 class="text-warning py-3">Organisez et planifiez votre développement territorial</h3>
        <p class="lead">Avec RUBIZE, vous optimisez le temps d’étude terrain en dématérialisant la collecte de données.</p>
        <p class="lead">Nos outils automatisent le traitement et vous permettent d’avoir rapidement une connaissance fine du territoire.</p>
      </div>
      <div class="col-12 col-lg-4 pb-3">
        <img src="assets/img/design.png" alt="design" height="65px">
        <h3 class="text-warning py-3">Dimensionnez des projets viables économiquement</h3>
        <p class="lead">Les activités économiques exigent d’investir dans des équipements productifs et de maîtriser la fourniture d’énergie.</p>
        <p class="lead">Nous vous aidons à concevoir votre activité à partir de notre base de données d'équipements et d'usages de l’énergie.</p>
      </div>
      <div class="col-12 col-lg-4 pb-3">
        <img src="assets/img/operate.png" alt="operate" height="65px">
        <h3 class="text-warning py-3">Gèrez vos activités commerciales</h3>
        <p class="lead">Que vous gériez une boutique ou un réseau de distribution, l'application <strong>RUBIZE&nbsp;Ops.</strong> devient votre compagnon opérationnel.</p>
        <p class="lead">Supervisez à distance les opérations. Suivez les indicateurs clé. Collectez des données fiables.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-body d-flex align-items-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/img/survey.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-6 col-xl-5">
        <p class="lead">“Nous avons fait appel à Benoo Energies pour accompagner la création d'entreprises dans la région Sahel.</p>
        <p class="lead">Avec le module d'enquêtes RUBIZE, nous avons recueilli des informations de qualité sur le besoin en énergie de 500 entrepreneurs dans 50 villages.”</p>
        <p class="lead text-right"><strong>Oumar C.</strong><br>DG de l’organisation A2N, <br>partenaire de Benoo au Burkian Faso</p>
      </div>
    </div>
  </div>
</div>

<div class="py-5 bg-light">
  <div class="container py-4">
    <div class="d-lg-none">
      <h4 class="pb-2">RUBIZE Ops.</h4>
      <h5 class="pb-4">Une suite d'applications pour la gestion d'entreprises rurales.</h5>
    </div>
    <div class="row">
      <div class="col-12 col-lg-5">
        <img src="assets/img/rubize-sales.png" alt="Rubize Sales" class="mw-100">
      </div>
      <div class="col-12 col-lg-7">
        <div class="px-lg-5 pt-4 pt-lg-0">
          <div class="d-none d-lg-inline">
            <h3 class="pt-3 pb-2">RUBIZE Ops.</h3>
            <h5 class="pb-4">L'application pour la gestion et la supervision à distance de vos entreprises rurales.</h5>
          </div>
          <div class="d-flex pb-2">
            <i class="fas fa-fw mr-3 mt-1 fa-lg text-warning fa-user-friends"></i>
            <p class="lead">Plateforme web de supervision.</p>
          </div>
          <div class="d-flex pb-2">
            <i class="fas fa-fw mr-3 mt-1 fa-lg text-warning fa-store"></i>
            <p class="lead">Administration de votre catalogue de produits.</p>
          </div>
          <div class="d-flex pb-2">
            <i class="fas fa-fw mr-3 mt-1 fa-lg text-warning fa-mobile-alt"></i>
            <p class="lead">Application mobile avec saisie "hors ligne".</p>
          </div>
          <div class="d-flex pb-2">
            <i class="fas fa-fw mr-3 mt-1 fa-lg text-warning fa-hand-holding-usd"></i>
            <p class="lead">Gestion des financements et collecte des paiements.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
