<div id="solutions" class="py-5">
  <div class="container pt-4 pb-3">
    <h2 class="text-primary pb-4">Nous avons créé RUBIZE, une suite d'outils puissants pour vous aider à prendre les bonnes décisions pour déployer votre entreprise en zone rurale.</h2>
    <div class="row pt-3">
      <div class="col-12 col-lg-4 pb-3">
        <img src="assets/img/plan.png" alt="plan" height="65px">
        <h3 class="text-warning py-3">Organisez et planifiez votre développement territorial</h3>
        <p class="lead">Avec RUBIZE, vous optimisez le temps d’étude terrain en dématérialisant la collecte de données.</p>
        <p class="lead">Nos outils automatisent le traitement et vous permettent d’avoir rapidement une connaissance fine du territoire.</p>
      </div>
      <div class="col-12 col-lg-4 pb-3">
        <img src="assets/img/design.png" alt="design" height="65px">
        <h3 class="text-warning py-3">Dimensionnez des projets viables économiquement</h3>
        <p class="lead">Les activités commerciales et productives exigent d’investir en équipement et de maîtriser la fourniture d’énergie.</p>
        <p class="lead">Nous vous aidons à concevoir votre activité à partir de notre base étendue d’usages de l’énergie dans les territoires ruraux.</p>
      </div>
      <div class="col-12 col-lg-4 pb-3">
        <img src="assets/img/operate.png" alt="operate" height="65px">
        <h3 class="text-warning py-3">Gèrez vos activités commerciales</h3>
        <p class="lead">Que vous gériez une boutique dans un village isolé ou un réseau de franchisés, nos applications web et mobile deviennent vos compagnons opérationnels.</p>
        <p class="lead">Supervisez à distance les opérations. Suivez les indicateurs clé. Collectez des données fiables.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner banner-body d-flex align-items-center py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/img/survey.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-6 col-xl-5">
        <p class="lead">“Pour identifier les besoins des entreprises que nous accompagnons, nous avons fait appel à l'expertise de Benoo.</p>
        <p class="lead">Avec l'application mobile mise à disposition, nous avons recuilli des informations de qualité auprès de 300 entrepreneurs.”</p>
        <p class="lead text-right"><strong>Oumar.</strong><br>DG de l’organisation A2N, <br>partenaire de Benoo au Burkian Faso</p>
      </div>
    </div>
  </div>
</div>

<div class="py-5 bg-light">
  <div class="container py-4">
    <div class="d-lg-none">
      <h4>RUBIZE Sales</h4>
      <h5 class="pb-3">L'application pour la gestion d'entreprise rurale.</h5>
    </div>
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="pb-4">
          <img src="assets/img/rubize-sales.png" alt="Rubize Sales" class="mw-100">
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="pl-lg-5">
          <div class="d-none d-lg-inline">
            <h3 class="">RUBIZE Sales</h3>
            <h5 class="pb-3">L'application pour la gestion d'entreprise rurale.</h5>
          </div>
          <p class="lead pb-2">Pilotez vos activités à distance en dématérialisant les opérations commerciales, et collectez des données fiables en temps réel.</p>
          <div class="d-flex">
            <i class="fas fa-fw mr-3 mt-1 fa-lg text-warning fa-user-friends"></i>
            <p class="lead">Plateforme de supervision d’un réseau d’entreprises.</p>
          </div>
          <div class="d-flex">
            <i class="fas fa-fw mr-3 mt-1 fa-lg text-warning fa-store"></i>
            <p class="lead">Administration d’un catalogue de produits et de services.</p>
          </div>
          <div class="d-flex">
            <i class="fas fa-fw mr-3 mt-1 fa-lg text-warning fa-mobile-alt"></i>
            <p class="lead">Application mobile "hors-ligne" pour la saisie des ventes et des commandes.</p>
          </div>
          <div class="d-flex">
            <i class="fas fa-fw mr-3 mt-1 fa-lg text-warning fa-hand-holding-usd"></i>
            <p class="lead">Financement d’équipements et collecte de paiements.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
