<div id="team" class="py-5 bg-light">
  <div class="container py-4">
    <h2 class="text-primary pb-4">Une équipe alliant savoir-faire technique et connaissance des marchés africains.</h2>
    <div class="row">
      <div class="col-12 col-lg-4 py-3">
        <h3 class="text-warning pb-3">Une connaissance fine des marchés africains</h3>
        <p class="lead">Notre équipe rasssemble des individus ayant pour beaucoup une connaissance empirique des territoires ruraux africains.</p>
        <p class="lead">Pour nos projets, nous travaillons main dans la main avec des partenaires locaux.</p>
      </div>
      <div class="col-12 col-lg-4 py-3">
        <h3 class="text-warning pb-3">Une équipe experte et pluridisciplianire</h3>
        <p class="lead">Benoo mobilise des compétences diverses pour répondre aux besoins de ses clients.</p>
        <p class="lead">S'agissant d'innovation technique, les équipes énergie et numérique collaborent étroitement.</p>
      </div>
      <div class="col-12 col-lg-4 py-3">
        <h3 class="text-warning pb-3">Une capacité d'innovation reconnue</h3>
        <p class="lead">L'innovation technique, sociale et financière est au coeur du modèle de Benoo.</p>
        <div class="d-flex">
          <img src="assets/img/jei.jpg" alt="JEI" height="75px">
          <p class="pl-3 lead">Depuis 2019, Benoo bénéficie du statut de Jeune Entreprise Innovante.</p>
        </div>
      </div>
    </div>
    <h3 class="py-4">Ils nous soutiennent</h3>
    <div class="d-flex flex-wrap align-items-center justify-content-around">
      <div class="p-2">
        <img src="assets/img/innoenergy.png" alt="InnoEnergy" height="85px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/pfan.png" alt="pfan" height="50px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/region-na.png" alt="Région NA" height="70px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/ademe.png" alt="ADEME" height="80px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/electrifi.png" alt="ElectriFI" height="60px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/wiseed.png" alt="Wiseed" height="60px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/hemera.png" alt="Héméra" height="90px" class="img-grayscale">
      </div>
    </div>
  </div>
</div>
