<div id="team" class="py-5 bg-light">
  <div class="container py-4">
    <h2 class="text-primary pb-4">Une équipe alliant savoir-faire technique et connaissance des marchés africains.</h2>
    <div class="row">
      <div class="col-12 col-lg-4 py-3">
        <h3 class="text-warning pb-3">Connaissance du marché</h3>
        <p class="lead">Une expérience cumulée de plus de 30 ans dans une quinzaine de pays africains (Mali, Burkina Faso, Niger, Togo, Bénin, Centrafrique, Zambie, Zimbabwe, Ouganda, Rwanda, Burundi, Madagascar...)</p>
      </div>
      <div class="col-12 col-lg-4 py-3">
        <h3 class="text-warning pb-3">Expertise et pluridisciplinarité</h3>
        <p class="lead">Benoo Energies réunit des professionnels de l’énergie, du digital, de la finance et de l’ingénierie territoriale qui mettent en synergie leurs expériences au service de ses clients.</p>
      </div>
      <div class="col-12 col-lg-4 py-3">
        <h3 class="text-warning pb-3">Innovation</h3>
        <p class="lead">Les solutions <strong><a href="https://www.rubize.io">Rubize.io</a></strong> sont le fruit d'une démarche d'innovation.</p>
        <div class="d-flex">
          <img src="assets/img/jei.jpg" alt="JEI" height="75px">
          <p class="pl-3 lead">Depuis 2019, Benoo Energies bénéficie du statut de Jeune Entreprise Innovante.</p>
        </div>
      </div>
    </div>
    <h3 class="py-4">Ils nous soutiennent</h3>
    <div class="d-flex flex-wrap align-items-center justify-content-around">
      <div class="p-2">
        <img src="assets/img/innoenergy.png" alt="InnoEnergy" height="85px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/pfan.png" alt="pfan" height="50px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/region-na.png" alt="Région NA" height="70px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/ademe.png" alt="ADEME" height="80px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/electrifi.png" alt="ElectriFI" height="60px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/wiseed.png" alt="Wiseed" height="60px" class="img-grayscale">
      </div>
      <div class="p-2">
        <img src="assets/img/hemera.png" alt="Héméra" height="90px" class="img-grayscale">
      </div>
    </div>
  </div>
</div>
