.banner {
  background-size: cover;
  background-position: center;
  h1, p {
    color: white;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.banner-head {
  min-height: 100vh;
  // max-height: 100vh;
  h1 {
    font-size: $font-size-base * 1.5;
    font-family: $body-font;
    font-weight: $font-weight-light !important;
    line-height: 1.5;
  }
}

.banner-body {
  min-height: 450px;
  p {
    font-size: $font-size-base * 1.15;
  }
}
