.icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  background-color: white;
}

.img-grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
